<div class="check-in-container">
  <div class="some">

    <div class="check-in-range costume">
      <mat-form-field appearance="outline" >
        <mat-datepicker-toggle matIconPrefix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle  >
<!--        <mat-label>{{ label }}</mat-label>-->
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" [(ngModel)]="checkInDate">
          <input matEndDate formControlName="end" [(ngModel)]="checkOutDate">
        </mat-date-range-input>
        <mat-datepicker-toggle  matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle  >
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="select-option costume">
      <button >
        <div class="option-persons-container">
          <div class="option-persons-label">Persons</div>
          <div class="option-persons-number"></div>
          <mat-icon class="option-persons-drop-down"
          >arrow_drop_down</mat-icon
          >
          <mat-icon class="option-persons-icon">person</mat-icon>
        </div>
        <div class="rooms"> Room</div>
      </button>

    </div>
  </div>
</div>
