<div class="restaurant-speciality-container">
  <div class="speciality-info">

    <h1>The Specialty of <br>
      Our Chef</h1>
    <app-restaurant-speciality-devider></app-restaurant-speciality-devider>
    <p>
      Indulge in a delectable dining experience at our on-site restaurant,
      where our talented chefs create mouth-watering dishes using the freshest ingredients.
      Enjoy your meal in our elegant dining room or on our outdoor terrace with stunning views.
    </p>
    <div class="chef-container">
      <img src="assets/restaurant/arg_chef.png" alt="Chef img">
      <img src="assets/restaurant/arg_chef_signature.svg" alt="Chef img">
    </div>
  </div>
  <div class="speciality-img">
    <img src="assets/restaurant/arg_speciality.png" alt="Speciality Image">
  </div>
</div>
