<div class="restaurant-speciality-container">
  <div class="speciality-info">
    <h1>
      {{ "RESTAURANT.Chefspec-1" | translate }} <br />
      {{ "RESTAURANT.Chefspec-2" | translate }}
    </h1>
    <app-restaurant-speciality-devider></app-restaurant-speciality-devider>
    <p>
      {{ "RESTAURANT.Chefspecdesc" | translate }}
    </p>
    <div class="chef-container">
      <img
        [src]="'assets/restaurant/arg_chef.png'"
        alt="Chef img"
        loading="lazy"
      />
      <img
        [src]="'assets/restaurant/arg_chef_signature.svg'"
        alt="Chef img"
        loading="lazy"
      />
    </div>
  </div>
  <div class="speciality-img">
    <img
      ngSrc="IMG_0326-1.jpg"
      alt="Speciality Image"
      loading="lazy"
      fill
    />
  </div>
</div>
