<div class="restaurant-speciality-container">
  <div class="speciality-info">
    <h1>
      {{"RESTAURANT.Chefspec-1" |translate}} <br />
      {{"RESTAURANT.Chefspec-2" |translate}}
    </h1>
    <app-restaurant-speciality-devider></app-restaurant-speciality-devider>
    <p>
      {{"RESTAURANT.Chefspecdesc" |translate}}
    </p>
    <div class="chef-container">
      <img src="assets/restaurant/arg_chef.png" alt="Chef img" />
      <img src="assets/restaurant/arg_chef_signature.svg" alt="Chef img" />
    </div>
  </div>
  <div class="speciality-img">
    <img src="assets/restaurant/arg_speciality.png" alt="Speciality Image" />
  </div>
</div>
