<div class="restaurant-staff-container">
  <img
    [src]="'assets/restaurant/arg_staff_1.png'"
    alt="Staff image"
    loading="lazy"
  />
  <img
    [src]="'assets/restaurant/arg_staff_2.png'"
    alt="Staff image"
    loading="lazy"
  />
  <div class="staff-description">
    <h3>Our Staff</h3>
    <p>
      Indulge in a delectable dining experience at our on-site restaurant, where
      our talented chefs create mouth-watering dishes using the freshest
      ingredients.
    </p>
  </div>
</div>
