<div
  class="conference-background-container"
  [ngClass]="{ mobile: (isMobileWidth$ | async) }"
>
  <div class="conference-booking-container">
    <h3>{{ "CONFERENCE.ConfBook" | translate }}</h3>
    <form novalidate (ngSubmit)="submitForm()" [formGroup]="conferenceForm">
      <mat-form-field class="custom-input-filed" color="primary">
        <mat-label>{{ "CONFERENCE.Name" | translate }}</mat-label>
        <input matInput formControlName="fullNameOrCompanyName" />
        @if (
          getControl("fullNameOrCompanyName")?.hasError("minlength") &&
          !getControl("fullNameOrCompanyName")?.hasError("required")
        ) {
          <mat-error>{{ "CONFERENCE.CharReqName" | translate }}</mat-error>
        }
        @if (getControl("fullNameOrCompanyName")?.hasError("required")) {
          <mat-error>{{ "CONFERENCE.ReqName" | translate }}</mat-error>
        }
        @if (getControl("fullNameOrCompanyName")?.hasError("pattern")) {
          <mat-error>{{ "CONFERENCE.LetterReqName" | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="custom-input-filed" color="primary">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" />
        @if (
          getControl("email")?.hasError("email") &&
          !getControl("email")?.hasError("required")
        ) {
          <mat-error>{{ "CONFERENCE.InvalidEmail" | translate }}</mat-error>
        }
        @if (getControl("email")?.hasError("required")) {
          <mat-error>{{ "CONFERENCE.ReqEmail" | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="custom-input-filed" color="primary">
        <mat-label>{{ "CONFERENCE.Mobile" | translate }}</mat-label>
        <input matInput formControlName="phoneNumber" />
        @if (getControl("phoneNumber")?.hasError("pattern")) {
          <mat-error>{{ "CONFERENCE.InvalidMobile" | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field
        class="block-conference-reservation custom-input-filed lower-label-top"
        color="primary"
      >
        <mat-label>{{ "CONFERENCE.Date" | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="checkin"
          [min]="currentDate"
          formControlName="reservationDate"
          (click)="checkin.open()"
        />

        @if (getControl("reservationDate")?.hasError("required")) {
          <mat-error>{{ "CONFERENCE.ReqDate" | translate }}</mat-error>
        }
        @if (
          getControl("reservationDate")?.hasError("isNotDate") &&
          !getControl("reservationDate")?.hasError("required")
        ) {
          <mat-error>{{ "CONFERENCE.ReqDateFormat" | translate }}</mat-error>
        }
        @if (
          getControl("reservationDate")?.hasError("minDate") &&
          !getControl("reservationDate")?.hasError("isNotDate")
        ) {
          <mat-error>{{ "CONFERENCE.InvalidDate" | translate }}</mat-error>
        }

        <mat-datepicker-toggle matIconSuffix [for]="checkin">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker
          [touchUi]="isMobileWidth$ | async"
          #checkin
        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="block-conference-reservation custom-input-filed lower-label-top"
        color="primary"
      >
        <mat-label>{{ "CONFERENCE.NrAttendees" | translate }}</mat-label>
        <input matInput formControlName="numberOfAttenders" />
        @if (getControl("numberOfAttenders")?.hasError("pattern")) {
          <mat-error>{{
            "CONFERENCE.PatternReqNrOfAttenders" | translate
          }}</mat-error>
        }
        @if (getControl("numberOfAttenders")?.hasError("required")) {
          <mat-error>{{ "CONFERENCE.ReqNrOfAttenders" | translate }}</mat-error>
        }
      </mat-form-field>

      <ng-container
        *ngIf="(isMobileWidth$ | async) === false; else mobileReservation"
      >
        <mat-form-field
          class="block-conference-reservation custom-input-filed lower-label-top"
          color="primary"
        >
          <mat-label>{{ "CONFERENCE.StartTime" | translate }}</mat-label>
          <input
            matInput
            [ngxTimepicker]="StartTime"
            formControlName="startTime"
            [format]="24"
            type="time"
          />
          @if (getControl("startTime")?.hasError("required")) {
            <mat-error>{{ "CONFERENCE.ReqStartTime" | translate }}</mat-error>
          }
        </mat-form-field>

        <ngx-material-timepicker
          #StartTime
          [theme]="primary"
        ></ngx-material-timepicker>

        <mat-form-field
          class="block-conference-reservation custom-input-filed lower-label-top"
          color="primary"
        >
          <mat-label>{{ "CONFERENCE.EndTime" | translate }}</mat-label>
          <input
            matInput
            [ngxTimepicker]="EndTime"
            formControlName="endTime"
            [format]="24"
            type="time"
          />

          @if (getControl("endTime")?.hasError("required")) {
            <mat-error>{{ "CONFERENCE.ReqEndTime" | translate }} </mat-error>
          }
        </mat-form-field>
        <ngx-material-timepicker
          #EndTime
          [theme]="primary"
        ></ngx-material-timepicker>
      </ng-container>
      <ng-template #mobileReservation>
        <mat-form-field
          class="block-conference-reservation custom-input-filed lower-label-top"
          color="primary"
        >
          <mat-label>{{ "CONFERENCE.StartTime" | translate }}</mat-label>
          <input matInput formControlName="startTime" type="time" />
          @if (getControl("startTime")?.hasError("required")) {
            <mat-error>{{ "CONFERENCE.ReqStartTime" | translate }} </mat-error>
          }
        </mat-form-field>

        <mat-form-field
          class="block-conference-reservation custom-input-filed lower-label-top"
          color="primary"
        >
          <mat-label>{{ "CONFERENCE.EndTime" | translate }}</mat-label>
          <input matInput formControlName="endTime" type="time" />

          @if (getControl("endTime")?.hasError("required")) {
            <mat-error>{{ "CONFERENCE.ReqEndTime" | translate }}</mat-error>
          }
        </mat-form-field>
      </ng-template>

      @if (conferenceForm.hasError("timeNotValid")) {
        <p class="time-interval-error">
          {{ "CONFERENCE.TimeSetError" | translate }}
        </p>
      }
      @if (conferenceForm.hasError("timeNotInPast")) {
        <p class="time-interval-error">
          {{ "CONFERENCE.TimeError" | translate }}
        </p>
      }

      <div formArrayName="conferenceReservations">
        <div class="add-send-button">
          <button
            class="mat-elevation-z2"
            mat-stroked-button
            type="button"
            (click)="addReservationDate()"
            [disabled]="disableConferenceAddAppointment()"
          >
            {{ "CONFERENCE.add" | translate }}
          </button>
        </div>
        <ng-container
          *ngFor="
            let appointmentDate of conferenceForm.controls
              .conferenceReservations.controls;
            let appointment = index
          "
          [formGroupName]="appointment"
        >
          <div class="reservation-date-display">
            <p>
              Date:
              {{
                appointmentDate.controls.reservationDate.value
                  | date: "dd/MM/yyyy"
              }}
              From: {{ appointmentDate.controls.startTime.value }}-{{
                appointmentDate.controls.endTime.value
              }}
              Attendees: {{ appointmentDate.controls.numberOfAttenders.value }}
            </p>

            <button
              mat-icon-button
              (click)="deleteConferenceAppointment(this.appointment)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <mat-form-field class="try comment custom-input-filed">
        <mat-label>{{ "CONFERENCE.Lmessage" | translate }}</mat-label>
        <textarea matInput formControlName="emailContent"></textarea>
      </mat-form-field>
      <div class="add-send-button">
        <button
          class="mat-elevation-z2"
          mat-stroked-button
          type="submit"
          [disabled]="!isValid()"
        >
          {{ "CONFERENCE.Send" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
