<div class="card">
  <div class="image-container"></div>
  <div class="content">
    <h2>Title</h2>
    <hr>

    <div class="feature">
      <mat-icon>check</mat-icon>
      feature 1
    </div>
    <div class="feature">
      <mat-icon>check</mat-icon>
      feature 1
    </div>
    <div class="feature">
      <mat-icon>check</mat-icon>
      feature 1
    </div>
    <div class="feature">
      <mat-icon>check</mat-icon>
      feature 1
    </div>
  </div>
  <button mat-flat-button color="primary">Book Room</button>
</div>
