<mat-card color="primary" class="hotel-room">
  <img
    mat-card-image
    [ngSrc]="room!.imagesUrl[0]"
    height="200"
    width="200"
    sizes="50vw"
    ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
    loading="lazy"
    alt="Photo of a hotel room"
  />
  <div class="room-details">
    <mat-card-title>{{ room?.name }}</mat-card-title>
    <hr />
    <mat-card-content class="facilities">
      <div class="facility" *ngFor="let facility of room?.facilities | slice:0:3">
        <mat-icon>{{ facility.iconName }}</mat-icon>
        {{ facility.name }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="bookNowClicked.emit()">
        {{ "HOME.Book_Room" | translate }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
