$primary: #d34418;

.card {
  max-height: 1143px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  font-size: clamp(14px, 24px, 2vw);
  text-align: center;
  color: $primary;


  img {
    height: 510px;
    object-fit: cover;
  }

  .card-content {
    width: 85%;
    margin: 0 auto;
    height: 470px;

    mat-card-title {
      font-size: 60px;
    }
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;


      hr {
        width: 100%;
        border: 2px $primary solid;
        margin: 0 auto;
      }

      .feature {
        font-size: 24px;
      }
    }
  }

  button {
    padding: 30px;
    margin: 0 auto;
  }
}
