<mat-card color="primary" class="hotel-room">
  <img
    mat-card-image
    [ngSrc]="room!.imagesUrl[0]"
    height="500"
    width="500"
    loading="lazy"
    alt="Photo of a hotel room"
  />
  <div class="room-details">
    <mat-card-title>{{ room?.name }}</mat-card-title>
    <hr />
    <mat-card-content class="facilities">
      <div class="facility" *ngFor="let facility of room?.facilities | slice:0:3">
        <mat-icon>{{ facility.iconName }}</mat-icon>
        {{ facility.name }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="bookNowClicked.emit()">
        Book Room
      </button>
    </mat-card-actions>
  </div>
</mat-card>
