<h1>Events</h1>
<div class="events-container">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>UPCOMING</h3>
      </ng-template>
      <div class="card-container">
        <app-event-card *ngFor="let event of upcomingEvents"
                        [event]="event"></app-event-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>RECENT</h3>
      </ng-template>
      <div class="card-container">
        <app-event-card *ngFor="let event of recentEvents"
                        [event]="event"></app-event-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
