<h1 #events>{{ "EVENTS.Events" | translate }}</h1>
<div class="events-container">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>{{ "EVENTS.Upcoming" | translate }}</h3>
      </ng-template>
      <div class="card-container">
        <app-event-card
          *ngFor="let event of upcomingEvents?.content"
          [event]="event"
        ></app-event-card>
        <app-no-events
          *ngIf="
            upcomingEvents === undefined ||
            upcomingEvents.numberOfElements === 0
          "
        ></app-no-events>
      </div>
      <mat-paginator
        [length]="upcomingEvents?.totalElements"
        color="primary"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="OnUpcomingPageChanged($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h3>{{ "EVENTS.Recent" | translate }}</h3>
      </ng-template>
      <div class="card-container">
        <app-event-card
          *ngFor="let event of recentEvents?.content"
          [event]="event"
        ></app-event-card>
        <app-no-events
          *ngIf="
            recentEvents === undefined || recentEvents.numberOfElements === 0
          "
        ></app-no-events>
      </div>
      <mat-paginator
        [length]="recentEvents?.totalElements"
        color="primary"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="OnRecentPageChanged($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>
