<article class="hotel-room-policy">
  <div class="close-container">

    <button class="close" mat-ripple mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h4>Privacy & Policy</h4>
  <ol class="list">
    <li>
      Cancellation:
      <ul>
        <li>15 days prior to the scheduled check-in date: No cancellation fees will be charged.</li>
        <li>Within 15 days of the scheduled check-in date: 50% of the total reservation cost will be charged as a
          cancellation fee.
        </li>
        <li>Within 7 days of the scheduled check-in date: 100% of the total reservation cost will be charged as a
          cancellation fee.
        </li>
      </ul>
    </li>
    <li>
      Group Bookings:
      <ul>
        <li> For group bookings of 5 rooms or up, a separate cancellation policy may apply. Please contact our
          reservations team for more information.
        </li>
      </ul>
    </li>
    <li>
      Early Departure:
      <ul>
        <li> In the event of early departure, guests will be charged for the full reserved stay as originally
          booked.
        </li>
      </ul>
    </li>
  </ol>

  <h4>Policy for Modifications and No-Shows:</h4>
  <ol>
    <li>
      Modifications:
      <ul>
        <li>Any changes or modifications to the reservation, such as changes to the check-in or check-out dates, room
          type, or number of guests, are subject to availability and may result in additional charges.
        </li>
        <li>Guests are advised to notify the hotel as soon as possible for any modifications to their reservation.
        </li>
      </ul>
    </li>
    <li>
      No-Show:
      <ul>
        <li>A "no-show" is defined as a guest who fails to arrive on the scheduled check-in date without prior notice
          of cancellation or modification.
        </li>
        <li>In the case of a no-show, the hotel reserves the right to charge the full amount of the reservation or
          apply cancellation fees as per the cancellation policy.
        </li>
      </ul>
    </li>
  </ol>

  <h4>Please note:</h4>
  <ul>
    <li>The cancellation and modification policy may vary depending on the rate plan or promotional offer selected at
      the time of booking. It is important to review the specific policy applicable to your reservation before
      confirming.
    </li>
    <li>Any cancellations or modifications should be requested directly with the hotel through the provided contact
      information or online reservation management system.
    </li>
    <li> The hotel reserves the right to amend the cancellation and policy terms and conditions without prior
      notice.
    </li>
  </ul>

  <p>
    If you have any questions or need further clarification regarding our cancellation and policy, please feel free to
    contact our reservations team.
  </p>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Okay</button>

  </mat-dialog-actions>

</article>
