<article class="hotel-room-policy">
  <div class="close-container">

    <button class="close" mat-ripple mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h4>{{ "HOTEL.Policy.Privacy_Policy" | translate }}</h4>
  <ol class="list">
    <li>
      {{ "HOTEL.Policy.Cancellation" | translate }}:
      <ul>
        <li>{{ "HOTEL.Policy.Cancellation_Desc"  | translate }}</li>
        <li>{{
            "HOTEL.Policy.Cancellation_Desc1" | translate
          }}
        </li>
        <li>{{ "HOTEL.Policy.Cancellation_Desc2" | translate }}
        </li>
      </ul>
    </li>
    <li>
      {{ "HOTEL.Policy.Group_Bookings" | translate }}:
      <ul>
        <li> {{ "HOTEL.Policy.Group_Bookings_Desc" | translate }}
        </li>
      </ul>
    </li>
    <li>
      {{ "HOTEL.Policy.Early_Departure" | translate }}
      <ul>
        <li> {{ "HOTEL.Policy.Early_Departure_Desc" | translate }}
        </li>
      </ul>
    </li>
  </ol>

  <h4>{{ "HOTEL.Policy.Policy_Modifications_NoShows" | translate }}</h4>
  <ol>
    <li>
      {{ "HOTEL.Policy.Modifications" | translate }}:
      <ul>
        <li>{{ "HOTEL.Policy.Modifications_Desc" | translate }}
        </li>
        <li>{{ "HOTEL.Policy.Modifications_Desc1" | translate }}
        </li>
      </ul>
    </li>
    <li>
      {{ "HOTEL.Policy.NoShow" | translate }}:
      <ul>
        <li>{{
            "HOTEL.Policy.NoShow_Desc" | translate
          }}
        </li>
        <li>{{
            "HOTEL.Policy.NoShow_Desc1" | translate
          }}
        </li>
      </ul>
    </li>
  </ol>

  <h4>{{ "HOTEL.Policy.Please_note" | translate }}</h4>
  <ul>
    <li>{{ "HOTEL.Policy.Please_note_Desc" | translate }}
    </li>
    <li>{{ "HOTEL.Policy.Please_note_Desc1" | translate }}
    </li>
    <li> {{
        "HOTEL.Policy.Please_note_Desc2" | translate
      }}
    </li>
  </ul>

  <p>
    {{ "HOTEL.Policy.Please_note_Desc3" | translate }}
  </p>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Okay</button>

  </mat-dialog-actions>

</article>
