<div
  class="welcome-home-container"
  [ngClass]="{ mobile: (isHandset$ | async) }"
>
  <div class="welcome-container">
    <h2 class="welcome-title">Welcome to</h2>
    <h2 class="title">Aragosta Hotel & Restaurant</h2>
    <p>
      Aragosta Hotel & Restaurant is located in Durres, right next to a private
      beach. Rooms are modernly furnished and air-conditioned, while some offer
      a view of the sea. The hotel also features a restaurant and wine bar with
      a sun terrace. Free WiFi and parking are also available.
    </p>
  </div>

  <div class="img-1">
    <img
      ngSrc="assets/img.png"
      alt="welcome-home-img"
      height="1270"
      width="1540"
    />
  </div>

  <div class="img-2">
    <img ngSrc="assets/img_1.png" alt="some" height="1966" width="1616" />
  </div>
</div>
