<div
  class="welcome-home-container"
  [ngClass]="{ mobile: (isHandset$ | async) }"
>
  <div class="welcome-container">
    <h2 class="welcome-title">{{ "HOME.Welcome" | translate }}</h2>
    <h2 class="title">
      Aragosta Hotel & {{ "HOME.Welcome_Restaurant" | translate }}
    </h2>
    <p>
      {{ "HOME.WelDesc" | translate }}
    </p>
  </div>



  <div class="image-container">
    <img
      [ngSrc]="'A2.jpg'"
      alt="some"
      height="1966"
      width="1616"
      sizes="50vw"
      ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
    />
  </div>
</div>
