<div
  class="welcome-home-container"
  [ngClass]="{ mobile: (isHandset$ | async) }"
>
  <div class="welcome-container">
    <h2 class="welcome-title">{{ "HOME.Welcome" | translate}}</h2>
    <h2 class="title">Aragosta Hotel & {{"HOME.Welcome_Restaurant" | translate}}</h2>
    <p>
      {{"HOME.WelDesc" | translate}}
    </p>
  </div>

  <div class="img-1">
    <img
      ngSrc="assets/img.png"
      alt="welcome-home-img"
      height="1270"
      width="1540"
    />
  </div>

  <div class="img-2">
    <img ngSrc="assets/img_1.png" alt="some" height="1966" width="1616" />
  </div>
</div>
