$reference-width: 1920px;
$card-reference-height: 200px;

.service-container {
  width: 100%;
  //height: auto;
  background-color: var(--color-primary-color);
  display: grid;
  grid-template-columns: repeat(6, 1.2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  justify-items: center;
  align-items: end;
  padding: calc(40px * (100vw /$reference-width ));


  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(75px * (100vw / $reference-width));
    height: calc(75px * (12vw / $card-reference-height));
    background-color: white;
    border-radius: 50% 50% 50% 0;
    margin: 0;
  }

  mat-icon {
    color: var(--color-primary-color);
    transform-origin: center;
    font-size: clamp(1rem, 2.5vw, 4rem);
    height: auto;
    width: 100%;
  }

  .container {
    justify-items: center;
    align-items: center;
  }

  .title {
    align-self: start;
    color: white;
    font-family: "Hero New", serif;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0;
    text-align:center;
    //margin-left: 24%;
    //width: calc(110px * (155vw / $reference-width));
    //height: calc(100px * (40vw / $card-reference-height));
    font-size: clamp(0.7rem, 1.5vw, 1.4rem);
  }
}

.service-container.mobile {
  grid-auto-flow: dense;
  align-items: center;
  justify-content: start;
  column-gap: 1.5%;
  row-gap: calc(16px*(100vw / 414px));
  padding: 12px 22px;

  @media screen and (max-width:340px) {
    grid-template-rows: 0.7fr 1fr;
    row-gap:0;
    padding:6px 11px;


  }

  .container {
    justify-self: end;
  }

  .icons {
    border-radius: 50% 50% 0 50%;
    width: calc(100px * (110vw / $reference-width));
    height: calc(100px * (12vw / $card-reference-height));
    justify-self: end;
    align-self: end;
  }

  .icons.revers {
    justify-self: start;
    align-self: end;
    border-radius: 50% 50% 50% 0;
  }

  .title {
    width: 100%;
    height: auto;
    font-size: clamp(0.5rem, 2vw, 2rem);
    align-self: end;
    justify-self: start;
    //margin-left: 20%;
    //width: calc(110px * (155vw / $reference-width));
    //height: calc(100px * (40vw / $card-reference-height));
    text-align:unset;
  }

  .title.revers {
    margin-right: 0;
    text-align: right;
    justify-self: end;
    align-self: end;
  }
}
