<div class="service-container" [ngClass]="{ mobile: (isHandset$ | async) }">
  <ng-container *ngFor="let icon of getIcon" class="container">
    <ng-container
      *ngIf="(isHandset$ | async) === false || icon.id < 4; else reverseOrder"
    >
      <mat-icon class="icons">{{ icon.icon }}</mat-icon>
      <p class="title">{{ "HOME.Services." + icon.title | translate }}</p>
    </ng-container>
    <ng-template #reverseOrder>
      <p class="title revers">
        {{ "HOME.Services." + icon.title | translate }}
      </p>
      <mat-icon class="icons revers">{{ icon.icon }}</mat-icon>
    </ng-template>
  </ng-container>
</div>
