<div class="headline-1">{{ "HOME.Restaurant" | translate }}</div>
<div
  class="home-restaurant"
  [ngClass]="{
    mobile: (isMobileWidth$ | async),
    'x-small': (xSmallWidth$ | async),
  }"
>
  <div class="menu-container">
    <h1>MENU</h1>
    <div class="restaurant-menu-card-container">
      <app-home-restaurant-card
        [isMobileWidth$]="isMobileWidth$"
        [xSmallWidth$]="xSmallWidth$"
        *ngFor="let el of topMenu"
        [title]="el.title"
        [imageUrl]="el.imageUrl"
        [price]="el.price"
        (cardClicked)="onCardClicked($event)"
        class="card"
      ></app-home-restaurant-card>
    </div>
    <p></p>
    <div class="restaurant-menu-card-container">
      <app-home-restaurant-card
        [isMobileWidth$]="isMobileWidth$"
        *ngFor="let el of topDesserts"
        [title]="el.title"
        [imageUrl]="el.imageUrl"
        [price]="el.price"
        (cardClicked)="onCardClicked($event)"
        class="card"
      ></app-home-restaurant-card>
    </div>
    <div class="view-more">
      <button
        class="view-more-button"
        (click)="onViewMoreClicked()"
        mat-button
        color="primary"
      >
        {{ "HOME.ViewMore" | translate }}
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="image-container">
    <button
      class="restaurant-menu-icon-container"
      mat-flat-button
      color="primary"
      (click)="onViewMoreClicked()"
    >
      <mat-icon>restaurant_menu</mat-icon>
    </button>
    <img
      [ngSrc]="'A3.jpg?format=compress'"
      alt="restaurant image"
      height="1966"
      width="1616"
      sizes="50vw"
      ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
      loading="lazy"
    />
  </div>
</div>
