.options-row-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 20px;
  color: var(--color-primary-color);

  label {
    justify-self: start;
  }

  input,
  input:focus {
    width: 100%;
    text-align: center;
    border: 2px solid var(--color-primary-color);
    border-radius: 5px;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
