<div class="restaurant-info-container">
  <img src="assets/restaurant/arg_restaurant.png" alt="restaurant image" />
  <div class="restaurant-info-c-1">
    <div class="restaurant-info">
      <h1>Restaurant</h1>
      <p>
        Come and taste meals from national and <br />
        international cuisines.
      </p>
      <app-restaurant-info-devider></app-restaurant-info-devider>
      <div class="restaurant-info-button-container">
        <button (click)="bookNowClicked.emit()" mat-ripple>Book table</button>
        <button (click)="seeMenuClicked.emit()" mat-ripple>See menu</button>
      </div>
    </div>
  </div>
</div>
