<div class="restaurant-info-container">
  <img src="assets/restaurant/arg_restaurant.png" alt="restaurant image" />
  <div class="restaurant-info-c-1">
    <div class="restaurant-info">
      <h1>{{"RESTAURANT.Restaurant" | translate}}</h1>
      <p>
        {{"RESTAURANT.Resdesc-1" | translate}} <br>
        {{"RESTAURANT.Resdesc-2" | translate}}
      </p>
      <app-restaurant-info-devider></app-restaurant-info-devider>
      <div class="restaurant-info-button-container">
        <button (click)="bookNowClicked.emit()" mat-ripple>{{"RESTAURANT.Booktable" | translate}}</button>
        <button (click)="seeMenuClicked.emit()" mat-ripple>{{"RESTAURANT.Seemenu" | translate}}</button>
      </div>
    </div>
  </div>
</div>
