<div class="restaurant-info-container">
  <img [ngSrc]="'A18.jpg?format=compress'"
       height="1966"
       width="1616"
       priority
       sizes="(min-width: 1200px) 100vw,
              (min-width: 1024px) 80vw,
              (min-width: 992px) 70vw,
              55vw"
       ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w" alt="restaurant image"/>
  <div class="restaurant-info-c-1">
    <div class="restaurant-info">
      <h1>{{ "RESTAURANT.Restaurant" | translate }}</h1>
      <p>
        {{ "RESTAURANT.Resdesc-1" | translate }} <br/>
        {{ "RESTAURANT.Resdesc-2" | translate }}
      </p>
      <app-restaurant-info-devider></app-restaurant-info-devider>
      <div class="restaurant-info-button-container">
        <button (click)="bookNowClicked.emit()" mat-ripple>
          {{ "RESTAURANT.Booktable" | translate }}
        </button>
        <button (click)="seeMenuClicked.emit()" mat-ripple>
          {{ "RESTAURANT.Seemenu" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
