<div class="costume">

  <mat-form-field appearance="outline">
    <mat-datepicker-toggle matIconPrefix [for]="picker">
      <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-input [formGroup]="dateRangeForm" [dateFilter]="unavailableDate" [rangePicker]="picker">
      <input matStartDate  formControlName="checkInDate"  (click)="picker.open()" >
      <input matEndDate  formControlName="checkOutDate" (click)="picker.open()">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div *ngIf="dateRangeForm.controls['start']?.hasError('invalidDate')">
    <span >Please enter a valid check-in date.</span>
  </div>

</div>
