<div class="book-now-container">
  <div
    class="book-now-card"
    [ngClass]="{
      mobile: (isMobileWidth$ | async),
      xxsmall: (isXXSmallWidth$ | async),
    }"
  >
    <div class="input-field-container">
      <app-home-book-now-date-picker
        label="Check-in"
        [minDate]="currentDate"
        [selectedDate]="filters.checkInDate"
        (dateChange)="onCheckinDateChanged($event)"
        [isMobileWidth$]="isMobileWidth$"
      ></app-home-book-now-date-picker>
      <div class="vl"></div>

      <app-home-book-now-date-picker
        label="Check-out"
        [minDate]="addDays(filters.checkInDate, 1)"
        [selectedDate]="checkoutDate"
        (dateChange)="onCheckinOutChanged($event)"
        [isMobileWidth$]="isMobileWidth$"
      ></app-home-book-now-date-picker>

      <div class="vl"></div>
      <div class="select-options">
        <button [matMenuTriggerFor]="menu">
          <div class="option-persons-container">
            <div class="option-persons-label">{{ "HOME.Book_Now.Persons" | translate }}</div>
            <div class="option-persons-number">{{ filters.numberOfChildren + filters.numberOfAdults }}</div>
            <mat-icon class="option-persons-drop-down"
            >arrow_drop_down
            </mat-icon
            >
            <mat-icon class="option-persons-icon">person</mat-icon>
          </div>
          <div class="rooms">{{ filters.numberOfRooms }} Room</div>
        </button>
        <mat-menu #menu="matMenu">
          <mat-card-content
            class="options-container"
            (click)="$event.stopPropagation()"
          >
            <app-book-now-option-row
              (quantityChange)="onAdultsChanged($event)"
              [minQuantity]="1"
              [quantity]="filters.numberOfAdults"
              label="Adults"
            ></app-book-now-option-row>
            <mat-divider></mat-divider>
            <app-book-now-option-row
              (quantityChange)="onChildrenChanged($event)"
              [minQuantity]="0"
              [quantity]="filters.numberOfChildren"
              label="Children"
            ></app-book-now-option-row>
            <mat-divider></mat-divider>
            <app-book-now-option-row
              (quantityChange)="onRoomsChanged($event)"
              [minQuantity]="1"
              [quantity]="filters.numberOfRooms"
              label="Rooms"
            ></app-book-now-option-row>
          </mat-card-content>
        </mat-menu>
      </div>
    </div>
    <button
      type="submit"
      class="submit"
      (click)="submit()"
      mat-flat-button
      color="primary"
    >
      {{ "HOME.Book_Now.Book_Now" | translate }}
    </button>
  </div>
</div>
