<div class="contact-us-container" [ngClass]="{ mobile: (isHandset$ | async) }">
  <div class="container-header">
    <div class="header-text">
      <h2 class>{{ "CONTACT-US.Getintouch" | translate }}</h2>
      <p>
        {{ "CONTACT-US.GetInTouchDesc" | translate }}
      </p>
    </div>
  </div>
  <div class="contact-us-card">
    <mat-card class="card-a base-card-design">
      <mat-card-header class="card-header">
        <mat-icon>call</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h4>{{ "CONTACT-US.Talkreception" | translate }}</h4>
        <p>
          {{ "CONTACT-US.Trecepdesc" | translate }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <h4><a href="tel:+355 68 205 8072">+355 68 205 8072</a></h4>
      </mat-card-footer>
    </mat-card>
    <mat-card class="card-b base-card-design">
      <mat-card-header class="card-header">
        <mat-icon><i class="bi bi-whatsapp"></i></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h4>{{ "CONTACT-US.SupportCont" | translate }}</h4>
        <p>
          {{ "CONTACT-US.SupportDesc" | translate }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <button mat-flat-button (click)="openWhatsapp()">Contact</button>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="line">
    <hr class="line-a" />
    <p class="center-text">{{ "CONTACT-US.or" | translate }}</p>
    <hr class="line-b" />
  </div>

  <div class="message-us-container">
    <div class="message-us">
      <h3>{{ "CONTACT-US.Messageus" | translate }}</h3>
      <p>
        {{ "CONTACT-US.MessageDesc" | translate }}
      </p>
    </div>
    <app-contact-us-form
      class="message-us-input"
      (sendMessage)="sendMessage()"
      [contactUsForm]="contactUsForm"
    ></app-contact-us-form>
  </div>

  <div class="second-line">
    <hr class="line-a" />
    <p>{{ "CONTACT-US.Premisesvisit" | translate }}</p>
    <hr class="line-b" />
  </div>

  <div class="location-base">
    <app-contact-us-location
      [isHandset$]="isHandset$"
    ></app-contact-us-location>
  </div>
</div>
