@import "../../../../theme.scss";

$primary: map-get($light-theme, primary, 500);

.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  padding-left: 20px;
  height: 85px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.sidenav {
  width: 200px;
}

.transparent {
  background-color: transparent !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  a {
    text-decoration: none;
    padding: 0 10px;
    color: white;
    height: 100%;
  }

  .mat-nav-list a {
    text-decoration: none;
  }

  .nav-bar-buttons-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    align-content: center;

    a {
      font-size: larger;
      align-content: center;
      font-family: "Hero New", serif;
    }

    a.active.border-bottom {
      border-bottom: 3px solid white;
    }

    a.active.highlight-color {
      color: $primary;
    }
  }
  .home-link {
    padding: 10px 0;

    .main-logo {
      height: 100%;
      max-width: 200px;
    }
  }
}
