@import "../../../../theme.scss";

$primary: map-get($light-theme, primary, 500);

.home-image {
  margin-top: -230px;
  filter: brightness(0.5);
  height: 600px;
  object-fit: cover;
}

img {
  width: 100%;
}
