$bookNowHeight: var(--home-book-now-height);

app-home-image {
  display: block;
  margin-top: calc(var(--navbar-height) * -1);
}

img {
  width: 100%;
}

.book-now {
  margin-top: calc(var(--home-book-now-half-height) * -1);
  transform: translateY(-50%);
  display: block;
  height: $bookNowHeight;
}
