<div class="contact-us-container" [ngClass]="{ mobile: (isHandset$ | async) }">
  <div class="container-header">
    <div class="header-text">
      <h2 class>Get in touch</h2>
      <p>
        Want to get in touch? We'd love to hear from you. Here's how you can
        reach us.
      </p>
    </div>
  </div>
  <div class="contact-us-card">
    <mat-card class="card-a base-card-design">
      <mat-card-header class="card-header">
        <mat-icon>call</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h4>Talk to the reception</h4>
        <p>
          Want to book a room? Just pick up the phone and get in contact with a
          receptionist
        </p>
      </mat-card-content>
      <mat-card-footer>
        <h4><a href="tel:+355 68 205 8072">+355 68 205 8072</a></h4>
      </mat-card-footer>
    </mat-card>
    <mat-card class="card-b base-card-design">
      <mat-card-header class="card-header">
        <mat-icon><i class="bi bi-whatsapp"></i></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <h4>Talk to the reception</h4>
        <p>
          Want to book a room? Just pick up the phone and get in contact with a
          receptionist
        </p>
      </mat-card-content>
      <mat-card-footer>
        <button mat-flat-button (click)="openWhatsapp()">Contact</button>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="line">
    <hr class="line-a" />
    <p class="center-text">OR</p>
    <hr class="line-b" />
  </div>

  <div class="message-us-container">
    <div class="message-us">
      <h3>MESSAGE US</h3>
      <p>
        We value our guests' feedback and are always happy to assist with any
        inquiries. We look forward to hearing from you and making your stay at
        our hotel a memorable one.
      </p>
    </div>
    <div class="message-us-input">
      <form novalidate (ngSubmit)="saveForm()" [formGroup]="contactUsForm">
        <mat-form-field class="costume-input">
          <h4>Name</h4>
          <input matInput formControlName="fullName" />
          @if (contactUsForm.controls.fullName.hasError("required")) {
            <mat-error>Name is required</mat-error>
          }
          @if (contactUsForm.controls.fullName.hasError("minlength")) {
            <mat-error>Name should be 3 character or more</mat-error>
          }
          @if (contactUsForm.controls.fullName.hasError("maxlength")) {
            <mat-error>Name should be less than 50 character</mat-error>
          }
          @if (contactUsForm.controls.fullName.hasError("pattern")) {
            <mat-error>Name should contain only letters</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="costume-input">
          <h4>Email</h4>
          <input matInput formControlName="email" />
          @if (contactUsForm.controls.email.hasError("required")) {
            <mat-error>Email is required</mat-error>
          }
          @if (contactUsForm.controls.email.hasError("email")) {
            <mat-error>Email should be valid</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="costume-input">
          <h4>Message</h4>
          <textarea matInput formControlName="messageUs" rows="3"></textarea>
          @if (contactUsForm.controls.messageUs.hasError("required")) {
            <mat-error>Message is required</mat-error>
          }
          @if (contactUsForm.controls.messageUs.hasError("minlength")) {
            <mat-error>Message should be at least 10 character</mat-error>
          }
          @if (contactUsForm.controls.messageUs.hasError("maxlength")) {
            <mat-error>Message should be less than 1500 characters</mat-error>
          }
        </mat-form-field>
        <div class="center-button">
          <button
            mat-flat-button
            [disabled]="!isValidForm()"
            color="primary"
            type="submit"
          >
            SEND
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="second-line">
    <hr class="line-a" />
    <p>Give our premises a visit</p>
    <hr class="line-b" />
  </div>

  <div class="location-base">
    <div class="location contact-us-card">
      <mat-card class="location-img-card">
        <div class="hover03">
          <figure>
            <img
              [ngSrc]="'location.jpg?format=compress'"
              alt="some"
              height="1640"
              width="1900"
              (click)="navigateToMaps()"
            />
          </figure>
        </div>
      </mat-card>
      <mat-card class="location-text-card">
        <ng-container *ngIf="(isHandset$ | async) === false">
          <div>
            <hr class="vertical" />
          </div>
        </ng-container>
        <div class="location-detail-card">
          <h3>Location</h3>
          <p>Rruga Taulantia</p>
          <p>Durres</p>
          <p>Albania</p>
          <h3>Phone</h3>
          <p>+355 68 333 7050</p>
          <p>+355 68 205 8072</p>
          <h3 class="email-margin">Email</h3>
          <p>reservation&#64;aragosta.al</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
