$reference-width: 1920px;

.container {
  border: var(--color-primary-color) solid 3px;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header {
    margin: clamp(10px, 30px, 1.3vw);
    font-size: clamp(20px, 24px, 1.25vw);
  }

  hr {
    background-color: var(--color-primary-color);
    border: none;
    height: 2px;
    width: 100%;
  }

  .subheader {
    margin: clamp(10px, 25px, 1.3vw);
    font-size: clamp(15px, 20px, 1.23vw);
  }

  .filters {
    margin-left: clamp(10px, 30px, 1.5vw);
  }

  .filter-section {
    margin-top: calc(30px * (100vw / $reference-width));

    * {
      font-size: clamp(15px, 20px, 1.23vw);
    }
  }

  .budget {
    margin-right: clamp(10px, 30px, 1.5vw);
    margin-bottom: clamp(10px, 30px, 1.5vw);

    .input-container {
      display: flex;
      gap: 15px;
      justify-content: space-between;
    }

    input {
      padding-left: 10px;
      border: var(--color-primary-color) solid 1px;
      border-radius: 5px;
      width: calc(150px * (100vw / $reference-width));
      max-width: 150px;
      height: calc(150px * (100vw / $reference-width));
      max-height: 30px;
      min-width: 50px;
    }
  }

  .sort-container {
    mat-radio-button {
      display: flex;
      height: 60px;
      width: 100%;
      padding: 0 calc(30px * (100vw / $reference-width));
    }

    .mat-mdc-radio-checked {
      background: var(--color-primary-100-color);
    }
  }
}

.mobile {
  border: none;
  padding: 0 20px;
  --mdc-dialog-container-shape: 5px;

  .subheader {
    margin: clamp(10px, 25px, 1.3vw) 0;
  }
  .budget {
    .input-container {
      padding-left: 15px;
      justify-content: left;
      gap: 30px;
    }
  }

  hr {
    background-color: var(--color-primary-100-color);
    height: 1px;
  }
}
.sort-only {
  .filters {
    display: none;
  }
  .header {
    display: none;
  }
}
