<div class="container">
  <div class="header">Filter by:</div>
  <hr>
  <div class="filters">
    <section class="filter-section" [formGroup]="filtersForm">
      <h4 class="subheader" style="margin: 0">Top Filters</h4>
      <p *ngFor="let option of options">
        <mat-checkbox [formControlName]="option">{{ option }}</mat-checkbox>
      </p>
    </section>
  </div>
  <hr>
  <div class="filters">

    <section class="budget" [formGroup]="priceForm">
      <h4 class="subheader">Budget</h4>
      <div class="input-container">
        <input type="number" formControlName="minPrice" placeholder="0">
        to
        <input type="number" formControlName="maxPrice" placeholder="70">
      </div>
    </section>
  </div>
  <hr>
  <div>
    <section class="sort-container" [formGroup]="sortForm">
      <h4 class="subheader">Sort by:</h4>
      <mat-radio-group formControlName="sortOrder">
        <mat-radio-button value="DESC">Price - Highest to Lowest</mat-radio-button>
        <mat-radio-button value="ASC">Price - Lowest to Highest</mat-radio-button>
      </mat-radio-group>
    </section>
  </div>
</div>
