<div class="container" [class.mobile]="mobile" [class.sort-only]="sortOnly">
  <div class="header">{{ "HOTEL.Filters.Filter_by" | translate }}:</div>
  <hr *ngIf="!sortOnly" />
  <div class="filters">
    <section class="filter-section">
      <h4 class="subheader" style="margin: 0">{{ "HOTEL.Filters.Top_Filters" | translate }}</h4>
      <div *ngFor="let checkbox of checkboxes">
        <mat-checkbox
          color="primary"
          [checked]="checkbox.checked"
          (change)="onCheckboxChange(checkbox, $event)"
        >
          {{ "HOTEL.Filters." + checkbox.label | translate }}
        </mat-checkbox>
      </div>
      <div>
        <mat-checkbox
          color="primary"
          [checked]="availableCheckBox.checked"
          (change)="onCheckboxChange(availableCheckBox, $event)"
        >
          {{ "HOTEL." + availableCheckBox.label | translate }}
        </mat-checkbox>
      </div>
    </section>
  </div>
  <hr *ngIf="!sortOnly" />
  <div class="filters">
    <section class="budget" [formGroup]="priceForm">
      <h4 class="subheader">{{ "HOTEL.Filters.Budget" | translate }}</h4>
      <div class="input-container">
        <input type="number" formControlName="minPrice" placeholder="0" />
        {{ 'HOTEL.Filters.to' | translate }}
        <input type="number" formControlName="maxPrice" placeholder="70" />
      </div>
    </section>
  </div>
  <div *ngIf="!filtersOnly">
    <hr />
    <section class="sort-container" [formGroup]="sortForm">
      <h4 class="subheader">{{ "HOTEL.Sorting.Sort_by" | translate }}:</h4>
      <mat-radio-group formControlName="sortOrder">
        <mat-radio-button value="DESC"
        >{{ "HOTEL.Sorting.Price_High_to_Low" | translate }}
        </mat-radio-button
        >
        <mat-radio-button value="ASC"
        >{{ "HOTEL.Sorting.Price_Low_to_High" | translate }}
        </mat-radio-button
        >
      </mat-radio-group>
    </section>
  </div>
  <hr *ngIf="mobile" />
</div>
