<mat-card
  [ngClass]="{
    mobile: (isMobileWidth$ | async),
    'x-small': (xSmallWidth$ | async),
  }"
>
  <div class="border"></div>
  <mat-card-header>
    <img
      mat-card-avatar
      [ngSrc]="imageUrl"
      [alt]="title"
      [height]="150"
      [width]="150"
      loading="lazy"
      sizes="20vw"
      ngSrcset="50w, 70w, 100w, 120w, 150w"
    />

    <div class="card-title">{{ title }}</div>
  </mat-card-header>

  <mat-card-actions>
    <button mat-flat-button (click)="cardClicked.emit()" color="primary">
      {{ price }} ALL
    </button>
  </mat-card-actions>
</mat-card>
