<div class="custom-date-mobile">

<mat-form-field appearance="outline" color="primary">

  <mat-date-range-input [formGroup]="dateRangeForms" [dateFilter]="unavailableDate" [rangePicker]="picker" >
    <input matStartDate  type="button" formControlName="checkInDateMobile"  (click)="picker.open()" [placeholder]="'Check-In'">
    <input matEndDate  type="button" formControlName="checkOutDateMobile"
           (click)="picker.open()" [placeholder]="'Check-In'"
    >
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix ></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

</mat-form-field>
</div>
