.container {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .home-image {
    margin-top: -230px;
    filter: brightness(0.5);
    height: auto;
    object-fit: cover;
    position: relative;
  }

  .text-overlay {
    position: absolute;
    color: white;
    text-align: center;
    font-size: clamp(3rem, 4.5vw, 6rem);
    margin-top: 8%;
    top: 0;
    width: 100%;
    font-family: Inria_Serif, fantasy;
  }
}

.container.mobile {
  .text-overlay {
    font-size: clamp(2.4rem, 3.5vw, 4rem);
    margin-top: 7%;
  }

  .home-image {
    height: 500px;
  }
}
