$bookNowHalfHeight: var(--home-book-now-half-height);
.container {
  position: relative;
  height: 100vh;

  .spacer {
    height: $bookNowHalfHeight;
  }

  img {
    width: 100%;
    transform: translateY(0);
    height: calc(100% - $bookNowHalfHeight);
  }

  .home-image {
    filter: brightness(0.5);
    object-fit: cover;
    position: relative;
  }

  .text-overlay {
    position: absolute;
    color: white;
    text-align: center;
    font-size: clamp(3rem, 4.5vw, 6rem);
    top: 50%;
    transform: translateY(-100%);
    width: 100%;
    font-family: Inria_Serif, fantasy;
  }
}

.container.mobile {

  $referenceWidth: 400px;
  height: clamp(300px, 500px, calc(428px * (100vw / $referenceWidth)));

  .text-overlay {
    font-size: clamp(2.4rem, 3.5vw, 4rem);
  }

}
