<div class="restaurant-cuisine-container">
  <h1>Our Cuisine</h1>
  <div class="restaurant-cuisine-details">
    <div class="background-cover"></div>
    <div class="img-1">
      <img
        class="mat-elevation-z24"
        src="assets/restaurant/cuisine/img1.png"
        alt="Restaurant img"
      />
    </div>
    <p>
      Discover the diverse and flavorful cuisine offered at our restaurant,
      featuring a fusion of traditional and modern dishes that will tantalize
      your taste buds.
    </p>
    <div class="img-2">
      <img
        class="mat-elevation-z24"
        src="assets/restaurant/cuisine/img2.png"
        alt="Restaurant img"
      />
    </div>
    <div class="img-3">
      <img
        class="mat-elevation-z24"
        src="assets/restaurant/cuisine/img3.png"
        alt="Restaurant img"
      />
    </div>
    <div class="img-4">
      <img
        class="mat-elevation-z24"
        src="assets/restaurant/cuisine/img4.png"
        alt="Restaurant img"
      />
    </div>
  </div>
</div>
