<div class="restaurant-cuisine-container">
  <h1>{{ "RESTAURANT.Cuisine" | translate }}</h1>
  <div class="restaurant-cuisine-details">
    <div class="background-cover"></div>
    <div class="img-1">
      <img
        class="mat-elevation-z24"
        [ngSrc]="'A19.1.jpg?format=compress'"
        height="1966"
        width="1616"
        sizes="30vw"
        ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
        alt="Restaurant img"
        loading="lazy"
      />
    </div>
    <p>
      {{ "RESTAURANT.CuisDesc" | translate }}
    </p>
    <div class="img-2">
      <img
        class="mat-elevation-z24"
        [ngSrc]="'A19.jpg?format=compress'"
        height="1966"
        width="1616"
        sizes="30vw"
        ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
        alt="Restaurant img"
        loading="lazy"
      />
    </div>
    <div class="img-3">
      <img
        class="mat-elevation-z24"
        ngSrc="restaurant/cuisine/img_3.png"
        alt="Restaurant img"
        ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
        width="600"
        height="685"
        loading="lazy"
        sizes="30vw"
      />
    </div>
    <div class="img-4">
      <img
        class="mat-elevation-z24"
        ngSrc="restaurant/cuisine/img_4.png"
        alt="Restaurant img"
        ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
        width="800"
        height="660"
        sizes="30vw"
      />
    </div>
  </div>
</div>
