<div
  class="events-container"
  [ngClass]="{ mobile: (isDesktopWidth$ | async) === false }"
>
  <h2>{{"HOME.EventsHome" | translate}}</h2>

  <div class="spacer"></div>

  <swiper-container
    class="events-swiper"
    init="false"
    navigation="{{ isDesktopWidth$ | async }}"
    pagination="{{ isDesktopWidth$ | async }}"
    centered-slides
  >
    <swiper-slide lazy="true" *ngFor="let event of events">
      <app-home-events-card
        [event]="event"
        [isDesktopWidth$]="isDesktopWidth$"
      ></app-home-events-card>
    </swiper-slide>
  </swiper-container>
</div>
