@import "../../../../theme.scss";

$primary: map-get($light-theme, primary, 500);
$reference-width: 1920px;

.events-container {
  color: $primary;
  margin: 0 auto;
  padding: calc(140px * (100vw / $reference-width))
    calc(85px * (100vw / $reference-width));
  background: $primary;
  background: linear-gradient(
    0deg,
    $primary 0%,
    $primary 25%,
    transparent 25%,
    transparent 100%
  );

  h2 {
    display: flex;
    align-items: center;
    margin: 0;

    &:after {
      content: "";
      flex: 1;
      margin-left: 1rem;
      height: 3px;
      background-color: $primary;
    }
  }
}

.spacer {
  margin-top: calc(140px * (100vw / $reference-width));
}

swiper-container {
  width: 100%;
}

app-home-events-card {
  display: block;
  border-radius: 40px;
}

.events-container.mobile {
  padding-left: 0;
  padding-right: 0;

  h2 {
    width: 90%;
    margin: 0 auto;
  }
}
