<div class="container">
  <div class="logo-container">
    <svg
      width="834"
      height="650"
      viewBox="0 0 834 650"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M696.5 418C696.5 261.63 747.24 117.11 833.13 0H0V650H735.43C710.21 577.32 696.5 499.26 696.5 418Z"
        fill="#DD4A26"
      />
    </svg>
    <img
      class="logo"
      src="assets/logo/aragosta-logo-white.svg"
      alt="Aragosta logo"
    />
  </div>
  <div class="center">
    <img
      [ngSrc]="'DSC_9903.jpg'"
      sizes="100vw"
      fill
      priority
      ngSrcset="300w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w, 1500w,1700w, 1980w"
      alt="Aragosta Hotel & Restaurant"
      style="position: absolute; width: 75%; transform: translate(40%, 0px);"
    />
  </div>
</div>
