<div class="container" [ngClass]="{ mobile: (isHandset$ | async) }">
  <ng-container *ngIf="(isHandset$ | async) === false; else nome">
    <div class="description">
      <hr />
      <div class="style">
        <h1>Aragosta</h1>
        <p>
    {{"AragDescfooter" | translate}}
        </p>
        <a
          href="https://www.instagram.com/aragosta.durres/"
          target="_blank"
          matTooltip="Instagram"
        >
          <button mat-icon-button>
            <i class="bi bi-instagram"></i>
          </button>
        </a>

        <a
          href="https://www.facebook.com/pages/Aragosta/169542073103683"
          target="_blank"
          matTooltip="Facebook"
        >
          <button mat-icon-button>
            <i class="bi bi-facebook"></i>
          </button>
        </a>
        <a
          href="https://www.tiktok.com/@aragosta.durres"
          target="_blank"
          matTooltip="TikTok"
        >
          <button mat-icon-button>
            <i class="bi bi-tiktok"></i>
          </button>
        </a>
        <a routerLink="contact-us" matTooltip="Whatsapp">
          <button mat-icon-button>
            <i class="bi bi-whatsapp"></i>
          </button>
        </a>
      </div>
    </div>

    <div class="logo">
      <img
        src="../../../../assets/logo/white-logo.svg"
        height="100"
        width="340"
        alt="logo"
      />
    </div>

    <div class="contact-us">
      <hr />
      <div class="contact-details">
        <h2 class="title">Contact Details</h2>

        <p>
          <a routerLink="contact-us">
            <button mat-icon-button matTooltip="Call us">
              <mat-icon>call</mat-icon>
            </button>
          </a>
          +355 68 333 7050
        </p>

        <p class="email-details">
          <button mat-icon-button matTooltip="Email US" routerLink="contact-us">
            <mat-icon>mail</mat-icon>
          </button>
          reservation&#64;aragosta.al
        </p>
        <p class="location-details">
          <button
            mat-icon-button
            matTooltip="View our location"
            routerLink="contact-us"
          >
            <mat-icon>location_on</mat-icon>
          </button>
          {{"locfooter" | translate}}
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #nome>
    <div class="logo">
      <img
        src="./assets/logo/white-logo.svg"
        height="100"
        width="340"
        alt="logo"
      />
    </div>

    <div class="contact-us">
      <hr />
      <div class="contact-details">
        <h2 class="title">Contact Us</h2>

        <p>
          <a routerLink="contact-us">
            <button mat-icon-button matTooltip="Call us">
              <mat-icon>call</mat-icon>
            </button>
          </a>
          +355 68 333 7050
        </p>

        <p class="email-details">
          <button mat-icon-button matTooltip="Email US" routerLink="contact-us">
            <mat-icon>mail</mat-icon>
          </button>
          reservation&#64;aragosta.al
        </p>
        <p class="location-details">
          <button mat-icon-button matTooltip="View our location" routerLink=".">
            <mat-icon>location_on</mat-icon>
          </button>
          Rruga Taulantia, Durres
        </p>
        <a
          href="https://www.instagram.com/aragosta.durres/"
          target="_blank"
          matTooltip="Instagram"
        >
          <button mat-icon-button>
            <i class="bi bi-instagram"></i>
          </button>
        </a>

        <a
          href="https://www.facebook.com/pages/Aragosta/169542073103683"
          target="_blank"
          matTooltip="Facebook"
        >
          <button mat-icon-button>
            <i class="bi bi-facebook"></i>
          </button>
        </a>
        <a
          href="https://www.tiktok.com/@aragosta.durres"
          target="_blank"
          matTooltip="TikTok"
        >
          <button mat-icon-button>
            <i class="bi bi-tiktok"></i>
          </button>
        </a>
        <a routerLink="contact-us" matTooltip="Whatsapp">
          <button mat-icon-button>
            <i class="bi bi-whatsapp"></i>
          </button>
        </a>
      </div>
    </div>
  </ng-template>
</div>

<div class="footer-qpt">
  <hr />
  <p>
    <a href="http://quantum-pixel.eu/" target="_blank"
      >Aragosta 2024 © Powered by Quantum Pixel</a
    >
  </p>
</div>
