$icon-size: 200px;
$check-in-size: 1980px;

.check-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .some {
    position: relative;
    background-color: white;
    width: 90%;
    height: 200px;
    border: var(--color-primary-color) solid 3px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 35% 35% auto;
    grid-gap: calc(40px * (100vw / $check-in-size));
    color: var(--color-primary-color);
    align-items: center;
    justify-items: center;

    .check-in-range {
      //width:100%;

      margin-left: calc(50px * (100vw / $check-in-size));
      width: 100%;
      max-width: 550px;

    }



    .select-person-options {
      width: 100%;
      max-width: 550px;

      button {
        height: 56px;
        max-width: 550px;
        width: 100%;
        border: 1px solid var(--color-primary-color);
        border-radius: 15px;
        background-color: white;
        color: var(--color-primary-color);

        .select-option-persons-container {
          display: grid;
          grid-template-columns: 1fr 48px;
          margin-left: 10px;
          align-items: center;
          justify-items: start;

          .option-persons-label {

            grid-column-start: 1;
            grid-column-end: 2;

          }


          .select-option-persons-icon {
            padding: 0;
            width: fit-content;
          }

          .select-option-persons-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            width: 100%;
            background-color: var(--color-primary-color);
            border-radius: 0 9px 10px 0;
            color: white;
            justify-self: center;

          }
        }


      }
    }
  }


  .check-in-button {


    .some-button {
      max-width: 320px;
      height: 56px;
      border-radius: 10px;
      color: white;
      border: 1px solid var(--color-primary-color);
      background-color: var(--color-primary-color);
      width: calc(320px * (80vw / $check-in-size));
      margin-top: 3em;
    }
  }
}

.cdk-overlay-container {
  .mat-mdc-menu-panel {
    max-width: 550px;

    width: calc(550px * (120vw / $check-in-size))
  }
}
