<div class="container" [ngClass]="{ mobile: (isHandset$ | async) }">
  <div class="check-in-container">
    <ng-container *ngIf="(isHandset$ | async) === false; else reverseOrder">
      <div class="check-in-range">
        <h6>Check-in - Check-out</h6>
        <app-hotel-date-button
          (checkInDateChange)="onCheckInChanged($event)"
          (checkOutDateChange)="onCHeckOutChanged($event)"
          [checkInDate]="bookNowFiltersEventInput.checkInDate"
          [checkOutDate]="bookNowFiltersEventInput.checkOutDate"
        ></app-hotel-date-button>
      </div>

      <div class="select-person-options">
        <h6>{{ "HOTEL.Adults_Children_Rooms" | translate }}</h6>
        <button style="padding: 0" [matMenuTriggerFor]="menu">
          <div class="select-option-persons-container">
            <div class="select-option-persons-label">
              {{ bookNowFiltersEvent.numberOfAdults }} {{ "HOTEL.Adults" | translate }} -
              {{ bookNowFiltersEvent.numberOfChildren }} {{ "HOTEL.Children" | translate }} -
              {{ bookNowFiltersEvent.numberOfRooms }} {{ "HOTEL.Rooms"  | translate }}
            </div>
            <div class="select-option-persons-icon">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </div>
          </div>
        </button>

        <mat-menu #menu="matMenu">
          <form novalidate>
            <mat-card-content
              class="options-container"
              (click)="$event.stopPropagation()"
            >
              <app-book-now-option-row
                (quantityChange)="onQuantityChange($event, 'adults')"
                label="Adults"
                [quantity]="bookNowFiltersEvent.numberOfAdults"
                [minQuantity]="1"
              ></app-book-now-option-row>
              <mat-divider></mat-divider>
              <app-book-now-option-row
                (quantityChange)="onQuantityChange($event, 'children')"
                label="Children"
                [quantity]="bookNowFiltersEvent.numberOfChildren"
                [minQuantity]="0"
              ></app-book-now-option-row>
              <mat-divider></mat-divider>
              <app-book-now-option-row
                (quantityChange)="onQuantityChange($event, 'rooms')"
                label="Rooms"
                [quantity]="bookNowFiltersEvent.numberOfRooms"
                [minQuantity]="1"
              ></app-book-now-option-row>
              <div *ngFor="let child of age.controls; let i = index">
                <app-child-age-now-option-row
                  (quantityChange)="onQuantityChange($event, 'ages' + i)"
                  [label]="('HOTEL.Child' | translate) + ' ' + (i + 1) + ' ' + ('HOTEL.Age' | translate)"
                  [quantity]="0"
                ></app-child-age-now-option-row>
              </div>
            </mat-card-content>
          </form>
        </mat-menu>
      </div>

      <div class="check-in-button">
        <button
          mat-button
          (click)="onCheckInClicked()"
          class="booking-button"
        >
          {{ "HOTEL.Check" | translate}}
        </button>
      </div>
    </ng-container>
    <ng-template #reverseOrder>
      <div class="check-in-range">
        <app-hotel-date-button-mobile
          (checkInDateMobile)="onCheckInChanged($event)"
          (checkOutDateMobile)="onCHeckOutChanged($event)"
          [checkInDate]="bookNowFiltersEventInput.checkInDate"
          [checkOutDate]="bookNowFiltersEventInput.checkOutDate"
        ></app-hotel-date-button-mobile>
      </div>

      <div class="select-person-options">
        <button style="padding: 0" [matMenuTriggerFor]="menue">
          <div class="select-option-persons-container">
            <div class="select-option-persons-label">
              {{ bookNowFiltersEvent.numberOfAdults }} Adults -
              {{ bookNowFiltersEvent.numberOfChildren }} Children -
              {{ bookNowFiltersEvent.numberOfRooms }} Rooms
            </div>
            <div class="select-option-persons-icon">
              <mat-icon matDatepickerToggleIcon>person</mat-icon>
            </div>
          </div>
        </button>

        <mat-menu #menue="matMenu">
          <form novalidate>
            <mat-card-content
              class="options-container"
              (click)="$event.stopPropagation()"
            >
              <app-child-age-now-option-row
                (quantityChange)="onQuantityChange($event, 'adults')"
                label="Adults"
                [quantity]="bookNowFiltersEvent.numberOfAdults"
              ></app-child-age-now-option-row>
              <mat-divider></mat-divider>
              <app-child-age-now-option-row
                (quantityChange)="onQuantityChange($event, 'children')"
                label="Children"
                [quantity]="bookNowFiltersEvent.numberOfChildren"
              ></app-child-age-now-option-row>
              <mat-divider></mat-divider>
              <app-child-age-now-option-row
                (quantityChange)="onQuantityChange($event, 'rooms')"
                label="Rooms"
                [quantity]="bookNowFiltersEvent.numberOfRooms"
              ></app-child-age-now-option-row>
              <div *ngFor="let child of age.controls; let i = index">
                <app-child-age-now-option-row
                  (quantityChange)="onQuantityChange($event, 'ages' + i)"
                  label="Child {{ i + 1 }} Age"
                  [quantity]="0"
                ></app-child-age-now-option-row>
              </div>
            </mat-card-content>
          </form>
        </mat-menu>
      </div>
      <div class="check-in-button">
        <button
          mat-button
          (click)="onCheckInClicked()"
          class="booking-button"
        >
          Check
        </button>
      </div>
    </ng-template>
  </div>
</div>
