<div class="restaurant-container">

<!--  <app-restaurant-info (bookNowClicked)="scrollTo(reservation)"-->
<!--                       (seeMenuClicked)="scrollTo(menu)"></app-restaurant-info>-->
<!--  <app-restaurant-staf></app-restaurant-staf>-->
<!--  <app-restaurant-speciality></app-restaurant-speciality>-->
<!--  <app-restaurant-cuisine></app-restaurant-cuisine>-->
<!--  <div #menu>-->
<!--    <app-restaurant-menu></app-restaurant-menu>-->
<!--  </div>-->
  <div #reservation>
    <app-restaurant-reservation></app-restaurant-reservation>
  </div>
</div>
