$reference-width: 1920px;

.container {
  color: var(--color-primary-color);
  max-width: 1600px;
  margin: 0 auto;
  padding: calc(50px * (100vw / $reference-width));


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    $border-size: clamp(1px, calc(8px * (100vw / $reference-width)), 5px);

    h1 {
      padding: clamp(5px, 2.5vw, 20px) clamp(20px, 5vw, 125px);
      border-bottom: solid $border-size var(--color-primary-color);
      width: fit-content;
    }

    div {
      height: calc(70px * (100vw / $reference-width));
      width: calc(70px * (100vw / $reference-width));
      border: solid $border-size var(--color-primary-color);
      border-bottom: none;
    }

    div:first-child {
      border-right: none;
    }

    div:last-child {
      border-left: none;
    }
  }

  .card-container {
    min-height: clamp(217px, 85vw, 900px);
    max-height: 800px;
    max-width: 500px;
    position: relative;
    margin: auto;
    width: 53%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    @media screen and (max-width:600px) {
      max-width: 495px;
      min-width:220px;
      width: calc(350px * (200vw / $reference-width));
      height: 100%;

      min-height: 400px;

    }
    @media screen and (max-width:400px) {
      max-width: 495px;

      min-width: 180px;
      width: calc(500px * (200vw / $reference-width));
      min-height: 400px;

    }
  }

  .card-item {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: z-index 250ms;

    .slider-card {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0) scale(0);
      opacity: 0;
      will-change: transform, opacity;
    }

    &.hide-left-card {
      transform: translateX(-60%) scale(0);
      transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.55, 1.43);

      .slider-card {
        transform: translateZ(0);
        will-change: transform, opacity;
      }
    }

    &.prev-card {
      z-index: 1;
      transform: translateX(-40%) scale(0.6);
      transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.55, 1.43);

      .slider-card {
        opacity: 1;
        will-change: transform, opacity;
        transform: translateZ(0);
      }
    }

    &.selected-card {
      z-index: 2;
      transform: translateX(0%) scale(0.8);
      transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.55, 1.43);

      .slider-card {
        opacity: 1;
        cursor: grab;
        will-change: transform, opacity;
        transform: translateZ(0);
      }
    }

    &.next-card {
      z-index: 1;
      transform: translateX(40%) scale(0.6);
      transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.55, 1.43);

      .slider-card {
        will-change: transform, opacity;
        transform: translateZ(0);
        opacity: 1;
      }
    }

    &.hide-right-card {
      transform: translateX(60%) scale(0);
      transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.55, 1.43);

      .slider-card {
        transform: translateZ(0);
        will-change: transform, opacity;
      }
    }

    @media screen and (max-width:600px) {
      &.prev-card {
        transform: translateX(-40%) scale(0.8);

      }
      &.selected-card {
        transform: translateX(0%) scale(1);
      }

      &.next-card {
        transform: translateX(40%) scale(0.8);
      }
    }

    @media screen and (min-width:1600px) {
      &.prev-card {
        transform: translateX(-40%) scale(0.85);

      }
      &.selected-card {
        transform: translateX(0%) scale(1);
      }

      &.next-card {
        transform: translateX(40%) scale(0.85);
      }
    }

  }
}

.container.x-small {
  .header {
    justify-content: center;
  }

  .header div {
    display: none;
  }
}
