<mat-card class="room-card" appearance="outlined">
  <div class="images">

    <app-hotel-room-card-images
    [room]="room"
    ></app-hotel-room-card-images>

  </div>

  <div class="details">

    <mat-card-header class="card-header">
      <mat-card-title-group>
        <mat-card-title class="card-title">
          <h3>{{ room.name }}</h3>
        </mat-card-title>
        <button mat-ripple class="policy">
          <mat-icon>info</mat-icon>Policy
        </button>
        <mat-card-subtitle class="room-description">{{ room.description }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="facilities">
        <mat-icon *ngFor="let facility of room.facilities">{{ facility.iconName }}</mat-icon>
      </div>
      <button class="view-more-button" mat-stroked-button>More Details</button>
      <div class="room-capacity">{{room.totalCapacity}} <mat-icon>person</mat-icon></div>
      <div class="total-price">
        <h3>{{ room.totalPrice }} €/total</h3>
      </div>
      <app-hotel-book-now-button class="book-now-button"
                                 [isRomNotAvailable]="false"
                                 [romCapacityNotEnough]="false"
                                 (bookNowClicked)="bookNowClicked.emit(room)"></app-hotel-book-now-button>
    </mat-card-content>
  </div>
</mat-card>
