<div class="reservation-reservation-container">
  <h2>{{ "RESTAURANT.Resform" | translate }}</h2>
  <form
    class="reservation-form"
    [formGroup]="reservationForm"
    (ngSubmit)="bookTable()"
  >
    <mat-form-field>
      <mat-label>{{ "RESTAURANT.Name" | translate }}</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="reservationForm.get('name')?.hasError('required')"
        >{{ "RESTAURANT.ReqName" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('name')?.hasError('pattern')"
        >{{ "RESTAURANT.LetterReqName" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('name')?.hasError('minlength')"
        >{{ "RESTAURANT.CharReqName" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('name')?.hasError('maxlength')"
        >{{ "RESTAURANT.MaxCharReqName" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "RESTAURANT.phone_number" | translate }}</mat-label>
      <input matInput type="text" formControlName="phoneNumber" required />
      <mat-error
        *ngIf="reservationForm.get('phoneNumber')?.hasError('required')"
        >{{ "RESTAURANT.phone_number_required" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('phoneNumber')?.hasError('pattern')"
        >{{ "RESTAURANT.invalid_phone_no" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "RESTAURANT.Guest" | translate }}</mat-label>
      <input matInput formControlName="guests" required />
      <mat-error *ngIf="reservationForm.get('guests')?.hasError('required')">
        {{ "RESTAURANT.ReqGuest" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('guests')?.hasError('min')">
        {{ "RESTAURANT.ReqNumGuest" | translate }}
      </mat-error>
      <mat-error *ngIf="reservationForm.get('guests')?.hasError('pattern')">
        {{ "RESTAURANT.PatternGuestErr" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "RESTAURANT.Date" | translate }}</mat-label>
      <input
        [min]="today"
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon color="primary" matDatepickerToggleIcon>event</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker color="primary" #picker></mat-datepicker>
      <mat-error *ngIf="reservationForm.get('date')?.hasError('required')"
        >{{ "RESTAURANT.ReqDate" | translate }}
      </mat-error>

      <mat-error
        *ngIf="
          reservationForm.get('date')?.hasError('minDate') &&
          !reservationForm.get('date')?.hasError('required')
        "
        >{{ "RESTAURANT.PastDateErr" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "RESTAURANT.Time" | translate }}</mat-label>
      <div style="display: flex; justify-content: space-between">
        <input
          [ngxTimepicker]="time"
          matInput
          type="time"
          formControlName="time"
          [format]="24"
          required
        />
        <mat-icon>schedule</mat-icon>
      </div>
      <mat-error *ngIf="reservationForm.get('time')?.hasError('required')"
        >{{ "RESTAURANT.ReqTime" | translate }}
      </mat-error>
      <ngx-material-timepicker
        #time
        [theme]="primary"
      ></ngx-material-timepicker>
    </mat-form-field>
    <mat-error
      class="past-date-time"
      *ngIf="reservationForm.hasError('pastDateTime')"
      >{{ "RESTAURANT.Date&TimeErr" | translate }}
    </mat-error>

    <mat-form-field appearance="outline">
      <mat-label>{{ "RESTAURANT.Message" | translate }} (Optional)</mat-label>
      <textarea
        #messageTextArea
        (input)="adjustTextareaHeight()"
        rows="3"
        matInput
        placeholder="{{ 'RESTAURANT.Leave_message' | translate }}"
        formControlName="message"
      ></textarea>
      <mat-error
        *ngIf="reservationForm.get('messageUs')?.hasError('maxlength')"
      >
        {{ "RESTAURANT.MaxCharMess" | translate }}
      </mat-error>
    </mat-form-field>
  </form>
  <div class="button-container">
    <div class="line"></div>
    <button
      mat-raised-button
      (click)="bookTable()"
      color="primary"
      type="submit"
      [disabled]="reservationForm.invalid"
    >
      {{ "RESTAURANT.Book_table" | translate }}
    </button>
    <div class="line"></div>
  </div>
</div>
