<app-book-now></app-book-now>
<app-hotel-check-in
($bookNowFiltersEvent)="onPersonFilterChanged($event)"
></app-hotel-check-in>
<div class="filters-rooms">
  <app-hotel-filters
  (filterChange)="onFiltersChanged($event)"
  ></app-hotel-filters>
  <app-hotel-room-table
    [hotelRooms]="hotelRooms"
    [numberOfAdults]="queryParams.numberOfAdults"
    [childrenAges]="queryParams.childrenAges"
    [numberOfRequestedRooms]="queryParams.numberOfRooms"
  ></app-hotel-room-table>
</div>
{{error | json}}
