$reference-width: 1980px;

button {
  width: 100%;
  height: auto;

  h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 300;
    margin: clamp(20px, calc(30px * (100vw / $reference-width)), 30px), 0;
  }

  mat-icon {
    font-size: clamp(2rem, calc(80px * (100vw / $reference-width)), 4rem);
    width: auto;
    height: auto;
  }
}
