@import "../../../../theme.scss";

$primary: map-get($light-theme, primary, 500);
$reference-width: 1980px;

a{
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-items: center;
  color: $primary;
  justify-content: center;
  text-decoration: none;

  h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-family: "Hero New", serif;
    font-weight: 300;
  }

  mat-icon {
    font-size: clamp(2rem, calc(80px * (100vw / $reference-width)), 4rem);;
    width: auto;
    height: auto;
  }
}
