$reference-width: 1920px;

.book-now {
  font-size: clamp(10px, 24px, 1.25vw);
  width: fit-content;
  max-height: 100px;
  height: calc(100px * (100vw / $reference-width));
  min-height: 24px;

  color: var(--color-primary-color);
  border: var(--color-primary-color) solid 2px;
  border-radius: 10px;
  padding: clamp(5px, 15px, calc(15px * (100vw / $reference-width)));
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-items: center;
  align-items: center;
  background: none;
  font-weight: lighter;

  padding: 0;
  .book-now-label {

    display: flex;
    justify-content: center;
    align-items: center;


    width: calc(200px * (100vw / $reference-width));
    height: calc(70px * (100vw / $reference-width));
    height: 100%;
    max-height: 70px;
    max-width: 200px;
    background-color: var(--color-primary-color);
    color: white;
    border-radius: 10px;
    font-weight: 500;
  }
}

.book-now.not-available {
  background: red;
  color: white;

  .book-now-label {
    background: white;
    color: red;
  }
}

.book-now.capacity-not-enough {
  background: red;
  max-width: 300px;
  font-size: clamp(8px, 16px, 1.2vw);
  color: white;
  .book-now-label {
    display: none;
  }
}
