<p class="not-available-label" *ngIf="notAvailableLabel">
  {{ notAvailableLabel | translate }}
</p>
<button
  (click)="buttonCLicked()"
  mat-ripple
  class="book-now"
  [class.not-available]="roomNotAvailable"
  [class.capacity-not-enough]="roomCapacityNotEnough"
  [disabled]="roomCapacityNotEnough"
>
  <div class="outside-label" [class.not-available]="roomNotAvailable">
    {{
      (roomCapacityNotEnough
        ? "HOTEL.Not_enought_cap"
        : roomNotAvailable
          ? "HOTEL.UNAVAILABLE"
          : "HOTEL.Available") | translate
    }}
  </div>
  <div
    *ngIf="notAvailableLabel"
    class="outside-not-available-label"
    [class.not-available]="roomNotAvailable"
  >
    {{ notAvailableLabel | translate }}
  </div>
  <div class="book-now-label">
    {{ (roomNotAvailable ? "HOTEL.Check_Dates" : "HOTEL.Book_Now")  | translate }}
  </div>
</button>
