/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

$primary: map-get($light-theme, primary, 500);

@font-face {
  font-family: "Inria_Serif";
  src: url("./assets/fonts/InriaSerif-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Kaushan";
  src: url("./assets/fonts/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inria_Serif";
  src: url("./assets/fonts/InriaSerif-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Bodoni";
  src: url("./assets/fonts/BodoniFLF-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Hero New";
  src: url("./assets/fonts/Hero New Regular.otf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: $primary;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: clamp(24px, 5vw, 96px);
}
h2 {
  font-size: clamp(16px, 4.5vw, 64px);
}
h3 {
  font-size: clamp(16px, 4vw, 48px);
}
body {
  margin: 0;
  font-family: "Hero New", serif, "Helvetica Neue", sans-serif;
}
