/* You can add global styles to this file, and also import other style files */
@import "theme.scss";

$primary: map-get($light-theme, primary, 500);

$primary-400: map-get($light-theme, primary, 400);
$primary-100: map-get($light-theme, primary, 100);
$primary-50: map-get($light-theme, primary, 50);

:root {
  --color-primary-color: #{$primary};
  --color-primary-400-color: #{$primary-400};
  --color-primary-100-color: #{$primary-100};
  --color-primary-50-color: #{$primary-50};
  --dvh: calc(100dvh - var(--navbar-height));
  --mdc-dialog-container-color: rgba(0, 0, 0, 0);

  --mat-datepicker-calendar-container-background-color: #e9e8ec;
  --mat-datepicker-calendar-container-text-color: #1a1b1f;
  --mat-datepicker-calendar-text-font: Roboto, sans-serif;
  --mat-datepicker-calendar-text-size: 1rem;
  --mat-datepicker-calendar-body-label-text-size: .875rem;
  --mat-datepicker-calendar-body-label-text-weight: 500;
  --mat-datepicker-calendar-period-button-text-size: .875rem;
  --mat-datepicker-calendar-period-button-text-weight: 500;
  --mat-datepicker-calendar-header-text-size: .875rem;
  --mat-datepicker-calendar-header-text-weight: 500;
  --mat-datepicker-calendar-container-shape: 16px;
  --mat-datepicker-calendar-container-touch-shape: 28px;
  --mat-datepicker-calendar-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .2), 0px 0px 0px 0px rgba(0, 0, 0, .14), 0px 0px 0px 0px rgba(0, 0, 0, .12);
}


div.mat-mdc-dialog-surface.mdc-dialog__surface {
  box-shadow: none;
}
$reference-width: 1920px;

@font-face {
  font-family: "Inria_Serif";
  src: url("./assets/fonts/InriaSerif-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Kaushan";
  src: url("./assets/fonts/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inria_Serif";
  src: url("./assets/fonts/InriaSerif-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni";
  src: url("./assets/fonts/BodoniFLF-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Hero New";
  src: url("./assets/fonts/Hero New Regular.otf") format("truetype");
}

@font-face {
  font-family: "italiana";
  src: url("./assets/fonts/Italiana-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: clamp(24px, 5vw, 96px);
}

h2 {
  font-size: clamp(16px, 4.5vw, 64px);
}

h3 {
  font-size: clamp(16px, 4vw, 48px);
}

p {
  font-size: clamp(12px, 2.5vw, 40px);
}

body {
  margin: 0;
  font-family: "Hero New", serif, "Helvetica Neue", sans-serif;
}
