<div class="message-us-input">
  <form novalidate (ngSubmit)="sendMessage.emit()" [formGroup]="contactUsForm">
    <mat-form-field class="costume-input">
      <h4>{{ "CONTACT-US.Name" | translate }}</h4>
      <input matInput formControlName="fullName" />
      @if (contactUsForm.get("fullName")!.hasError("required")) {
        <mat-error>{{ "CONTACT-US.ReqName" | translate }}</mat-error>
      }
      @if (contactUsForm.get("fullName")!.hasError("minlength")) {
        <mat-error>{{ "CONTACT-US.CharReqName" | translate }}</mat-error>
      }
      @if (contactUsForm.get("fullName")!.hasError("maxlength")) {
        <mat-error>{{ "CONTACT-US.MaxCharReqName" | translate }}</mat-error>
      }
      @if (contactUsForm.get("fullName")!.hasError("pattern")) {
        <mat-error>{{ "CONTACT-US.PatterReqName" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="costume-input">
      <h4>Email</h4>
      <input matInput formControlName="email" />
      @if (contactUsForm.get("email")!.hasError("required")) {
        <mat-error>{{ "CONTACT-US.EmailReqMsg" | translate }}</mat-error>
      }
      @if (contactUsForm.get("email")!.hasError("email")) {
        <mat-error>{{ "CONTACT-US.EmailMsg" | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="costume-input">
      <h4>{{ "CONTACT-US.Msg" | translate }}</h4>
      <textarea matInput formControlName="messageUs" rows="3"></textarea>
      @if (contactUsForm.get("messageUs")!.hasError("required")) {
        <mat-error>{{ "CONTACT-US.MsgError" | translate }}</mat-error>
      }
      @if (contactUsForm.get("messageUs")!.hasError("minlength")) {
        <mat-error>{{ "CONTACT-US.MinCharMess" | translate }}</mat-error>
      }
      @if (contactUsForm.get("messageUs")!.hasError("maxlength")) {
        <mat-error>{{ "CONTACT-US.MaxCharMess" | translate }}</mat-error>
      }
    </mat-form-field>
    <div class="center-button">
      <button
        mat-flat-button
        [disabled]="!isValidForm()"
        color="primary"
        type="submit"
      >
        {{ "CONTACT-US.SendButt" | translate }}
      </button>
    </div>
  </form>
</div>
