<div
  class="container"
  [ngClass]="{
    mobile: (isMobileWidth$ | async),
  }"
>
  <div class="image-container">
    <div>
      <img
        class="mat-elevation-z18"
        [src]="'https://th.bing.com/th/id/OIG3.x2shDNKepXVqoiJUIIHY?pid=ImgGn'"
        alt="conference room image"
        loading="lazy"
      />
    </div>
  </div>
  <div class="conference-text-container">
    <h1>{{ "HOME.Confhome" | translate }}</h1>
    <p>
      {{ "HOME.ConfDesc" | translate }}
    </p>
    <a routerLink="/conference">{{ "HOME.LearnMore" | translate }}</a>
  </div>
</div>
