<div
  class="container"
  [ngClass]="{
    mobile: (isMobileWidth$ | async),
  }"
>
  <div class="image-container">
    <div>
      <img
        class="mat-elevation-z18"
        [ngSrc]="'conference.png'"
        height="1966"
        width="1616"
        sizes="50vw"
        ngSrcset=" 128w, 256w, 440w, 500w, 640w, 750w, 828w, 1080w, 1200w"
        alt="conference room image"
        loading="lazy"
      />
    </div>
  </div>
  <div class="conference-text-container">
    <h1>{{ "HOME.Confhome" | translate }}</h1>
    <p>
      {{ "HOME.ConfDesc" | translate }}
    </p>
    <a routerLink="/conference">{{ "HOME.LearnMore" | translate }}</a>
  </div>
</div>
